.image {
     background-image: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiT7d-MqJTdAhUN-qQKHddWAWsQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cookingchanneltv.com%2Frecipes%2Fquick-injera-2109549&psig=AOvVaw1BjT82lLnCOq8qLHd-MQuN&ust=1535702571018223'):
     height: 200px;
     background: #aaa;
 }
